.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-form-text);
  padding: 2rem;
  border-radius: 8px;
  max-width: 800px; /* wider for desktop view */
  position: relative;
  width: 100%; /* Ensure it takes full width */
  margin: 0 auto; /* Center the container */
   min-height: 85vh;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Make the form take full width of container */
  max-width: 400px; /* Optional: set max-width to limit form width */
}

.login-form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--bg-input);
  color: var(--color-form-text);
  width: 100%; /* Ensure input fills the form width */
}

.login-form input::placeholder {
  color: var(--color-placeholder);
}

.login-form button {
  padding: 10px;
  font-size: 1em;
  background-color: var(--bg-button);
  color: var(--color-button-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Ensure button fills the form width */
}

.login-form button:hover {
  background-color: var(--bg-button-hover);
}

.error {
  color: red;
  font-size: 0.9em;
  text-align: center;
}

.google-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%; /* Ensure Google button takes full width */
  background-color: var(--bg-google);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.google-btn:hover {
  background-color: var(--bg-google-hover);
}

.google-btn .google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: transparent;
}

.login-container,
.login-form input,
.login-form button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-form button,
.login-form .google-btn,
.login-form input {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
  justify-content: center; /* Center the login container horizontally */
  align-items: center; /* Center the login container vertically */
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg-main);
}

/* Light mode button at the top */
.theme-toggle-btn {
  position: absolute;
  top: 20px; /* Ensure it's fixed at the top of the page */
  right: 20px; /* Align it to the right */
  padding: 0.5rem 1rem;
  background-color: var(--bg-button);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100; /* Ensure the button stays on top */
}

